* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("demoShop/patt.png");
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    font-family: 'Roboto';
}
.col-3 {
    flex: 0 0 25%;
    max-width: 50%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.header {
    height: 100px;
    align-items: center;
    display: flex;
    background-color: rgba(255,255,255,0.75);
}
.logo {
    margin-top: 7px;
}
.menu {
    display: flex;
}
.menu li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.sub-menu {
    display: none;
    position: absolute;
    width: 286px;
    background-color: #2d71b8;
    left: -1px;
    color: white;
    font-size: 20px;
    font-weight: light;
}
.sub-menu-main {
    position: relative;
}
.sub-menu-main:hover .sub-menu {
    display: block;
}
.sub-menu li:hover {
    background-color: #ffff;
    color: #2c71b8;
}
.sub-menu li {
    width: 286px;
    height: 40px;
    line-height: 40px;
    padding-left: 35px;
}
.search-input {
    width: 200px;
    height: 40px; 
    outline: none;
    border: none;
    border: 1px solid #2c71b8;
    text-indent: 20px;
    line-height: 40px;
    background: none;
}
::placeholder {
    color:#2c71b8;
    opacity: 1;
    font-size: 21px;
    font-family: 'Roboto';
    font-weight: 300;
}
.search {
    padding-top: 5px;
}
.search-button {
    position: relative;
    background: none;
    border: none;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    width: 30px;
    height: 30px;
    left: -39px;
}
.bin-button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 380px;
}
.four {
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 100%;
    color: white;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    top: 19px;
    right: 410px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
}
.sub-menu-main:hover > a {
    background-color: #2c71b8;
    color: white;
}
.arrow {
    position: absolute;
    bottom: 16px;
    right: 11px;
    display: block;
}
.w-arrow {
    position: absolute;
    bottom: 16px;
    right: 11px;
    display: none;
}
.sub-menu-main:hover .arrow {
    display: none;
}
.sub-menu-main:hover .w-arrow {
    display: block;
}